*
{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}





html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fcf8f8;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
    display: inline;
}





h1, h1 a {
    font-size: 24pt;
    color: black;
    text-decoration: none;
}

h2, h2 a {
    font-size: 14pt;
    color: black;
    text-decoration: none;
}

h3, h3 a {
    font-size: 16pt;
    color: black;
    text-decoration: none;
}

h6, h6 a {
    font-size: 10pt;
    color: #666;
}

h6 a:hover {
    color: #333;
}

p, p a {
    color: black;
}

p a:hover {
    color: #444;
}






div#wrapper {
    min-height: 100%;
    width: 640px;
    margin-bottom: 32px;
}





div#header {
    height: auto;
    width: 100%;
    padding-top: 32px;
    
    text-align: center;
}





div#main {
    height: auto;
    width: 100%;
    
    text-align: center;
}





div#form-container {
    height: auto;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
}

div#form-container > form {
    display: inline-block;
}

form select, form input {
    font-size: 11pt;
}

form select {
    padding: 1px 2px;
}

form input#submitbutton {
    padding: 1px 5px;
}




#form-error-message {
    color: #d00;
}






div#result {
    height: auto;
    width: 100%;
}

div#result h3 {
    display: inline-block;
    margin-bottom: 5px;
}

div#result iframe {
    display: block;
    margin: 5px auto;
}

div#result img {
    display: block;
    max-width: 600px;
    max-height: 600px;
    margin: 5px auto;
}

div#result p {
    display: inline-block;
    margin-top: 5px;
}






footer.site-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 6px 0px;
    
    text-align: center;
}